* {
  text-align: center;
}

.header-nav {
  justify-content: space-evenly !important;
  align-items: center !important;
}

.cat-home {
  height: 500px;
  border-radius: 50%;
  border: 3px solid black;
}

.card {
  margin: 2rem 0;
}

.cat-index, .cat-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}